<div class="flex-box">
  <div class="flexbox-item flexbox-item-1">
    <button mat-raised-button routerLink="/plasma-quiz">Register for Plasma Donation</button>
  </div>
  <br>
  <div class="flexbox-item flexbox-item-2">
    <button mat-raised-button routerLink="/register-plasma-receival">Register for Plasma Receival</button>
  </div>
  <br>
  <div class="flexbox-item flexbox-item-3">
    <button mat-raised-button routerLink="/register-vaccination">Register for Vaccination</button>
  </div>
  <br>
</div>
<div class="container-img">
  <img src="../../../assets/images/doctors.jpg" height="700px" width="100%" alt="">
</div><br>

<router-outlet></router-outlet>

