<footer class=" text-center">
  <div class="footer-top">

    <ul class="row">
      <!-- <li class="col-xs-8 col-sm-2">
        <a href="https://www.facebook.com/">
          <img class="logo" src="../../../../assets/images/facebook.png">
        </a>
      </li>
      <li class="col-xs-8 col-sm-2">
        <a href="https://twitter.com/">
          <img class="logo" src="../../../../assets/images/twitter.png">
        </a>
      </li>
      <li class="col-xs-8 col-sm-2">
        <a href="http://www.instagram.com/facebook">
          <img class="logo" src="../../../../assets/images/instagram.png">
        </a>
      </li>
      <li class="col-xs-8 col-sm-2">
        <a href="https://myaccount.google.com/">
          <img class="logo" src="../../../../assets/images/google-plus.png">
        </a>
      </li>
      <li class="col-xs-8 col-sm-2">
        <a href="http://in.youtube.com/">
          <img class="logo" src="../../../../assets/images/youtube.png">
        </a>
      </li> -->

    </ul>

  </div>

  <div class="container text-center" style="border-top:1px solid grey;">

    <div class="row text-center " style="margin-left:30%">
      <div class="col-lg-6 col-lg-offset-3">
        <ul class="menu text-center">

          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Blog</a>
          </li>

          <li>
            <a href="#">Gallery</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>


<div class="copyright">
  <div class="row text-center">
    <p>Copyright © 2021 All rights reserved</p>
  </div>
</div>
