

<div id="myPageContent" class="textChanger">
  <section id="home">

    <div id="textSlider" class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 iamCol">
        <p>Covid</p>
        <p>Care</p>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slideCol">
        <div class="scroller">
          <div class="inner">
            <!-- <p style="font-size: 40px;">कृपया एक जीव वाचविण्यात मदत करा</p> -->
            <p style="font-size: 40px;">please help save a life</p>
            <p style="font-size: 40px;">कृपया एक जीवन बचाने में मदद करें</p>
            <p style="font-size: 30px;">దయచేసి ఒక ప్రాణాన్ని రక్షించడంలో సహాయపడండి</p>
            <!-- <p style="font-size: 40px;">ਕ੍ਰਿਪਾ ਕਰਕੇ ਇੱਕ ਜਿੰਦਗੀ ਬਚਾਉਣ ਵਿੱਚ ਸਹਾਇਤਾ ਕਰੋ</p> -->
            <!-- <p style="font-size: 40px;">براہ کرم زندگی بچانے میں مدد کریں</p> -->
            <p style="font-size: 40px; ">જીવન બચાવવા મદદ કરો</p>
            <p style="font-size: 40px;"> प्लेअसे हेल्प सवे अ लिफ़े</p>
            <p style="font-size: 40px;">একটি জীবন বাঁচাতে সাহায্য করুন</p>
            <p style="font-size: 40px;">ഒരു ജീവൻ രക്ഷിക്കാൻ സഹായിക്കുക</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
