
<div class="container">
  <div class="row">
      <div class="col-lg-4">
          <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
              <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                  <i class="mdi mdi-help-circle"></i> Frequently Asked Questions
              </a>
              <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                  <i class="mdi mdi-account"></i> Registration
              </a>
              <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                  <i class="mdi mdi-account-settings"></i> Home Quarantine Instruction
              </a>

              <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                  <i class="mdi mdi-help"></i> Plasma Queries
              </a>
              <a href="#tab6" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab6" aria-selected="false">
                  <i class="mdi mdi-help"></i> General help
              </a>
          </div>
      </div>
      <div class="col-lg-8">
          <div class="tab-content" id="faq-tab-content">
              <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                  <div class="accordion" id="accordion-tab-1">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1"> Is Corona really fatal or
                                    incurable ?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                              <div class="card-body">
                               <p> Not really so. Corona is curable, if diagnosed early.
                                In India, at present, Fatality rate at is only 1.4 %. It
                                means that survival rate is 98.6 %.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2"> Who is more
                                  vulnerable to Corona infection and it’s complications ? Younger or older ? </button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                              <div class="card-body">
                              <p>Compared to age, fitness and exposure matter
                                more . However, fatality rate is higher in patients
                                who are less fit, obese, diabetic, asthmatic and
                                suffering from cancer or auto immune diseases
                                and having low immunity.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">Is a person recovered from Corona recently
                                    protected from further
                                    infection in next 3-4
                                    months due to
                                    antibodies?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                              <div class="card-body">
                              <p>Not necessarily so. There are incidences where
                                persons got infected again within a month with no
                                antibody found in the blood test. So don’t be
                                complacent or unguarded. Keep practicing social
                                distancing , wearing mask and washing hands.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4"> What is the most
                                    common myth with
                                    respect to the Corona
                                    infection?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                              <div class="card-body">
                              <p>Thinking of a person that in case of fever, I can
                                have Dengue, Malaria, Typhoid, ‘seasonal viral
                                fever’, or cough and cold but I can’t not be
                                infected with the Corona, is the most common
                                myth. It leads to delay in Corona testing and
                                consequent complications due to such delay.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="accordion-tab-1-heading-5">
                            <h5>
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-5" aria-expanded="false" aria-controls="accordion-tab-1-content-5"> What is the most
                                  Which drug is
                                  betterHydroxychloroquine
                                  or Ivermectin to
                                  prevent Covid19
                                  infection ?</button>
                            </h5>
                        </div>
                        <div class="collapse" id="accordion-tab-1-content-5" aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
                            <div class="card-body">
                            <p>Currently, there is no proof that
                              Hydroxychloroquine or any drug can prevent
                              Covid infection. Misuse of Hydroxychloroquine
                              can cause side effects and even lead to death. It
                              is not recommended without ECG for the people
                              older than 45 years. Ivermectine is for
                              preventing secondary infections and relatively
                              safer. Only your immunity can help you to have
                              less severe symptoms.</p>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                      <div class="card-header" id="accordion-tab-1-heading-6">
                          <h5>
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-6" aria-expanded="false" aria-controls="accordion-tab-1-content-6"> What is the most
                                Can drinking
                                alcohol helps in killing
                                Covid19 virus?</button>
                          </h5>
                      </div>
                      <div class="collapse" id="accordion-tab-1-content-6" aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
                          <div class="card-body">
                          <p>No. Drinking alcohol does not protect you from
                            Covid19 infection. It may be harmful.</p>
                          </div>
                      </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="accordion-tab-1-heading-7">
                        <h5>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-7" aria-expanded="false" aria-controls="accordion-tab-1-content-7">  Is the second week
                              more critical than the first
                              week of the illness?</button>
                        </h5>
                    </div>
                    <div class="collapse" id="accordion-tab-1-content-7" aria-labelledby="accordion-tab-1-heading-7" data-parent="#accordion-tab-1">
                        <div class="card-body">
                        <p>Not necessarily so, if your health parameters
                          have improved and no fever from 5th day
                          onward. Yes, if Covid is diagnosed late and
                          treatment is delayed .</p>
                        </div>
                    </div>
                </div>


                <div class="card">
                  <div class="card-header" id="accordion-tab-1-heading-8">
                      <h5>
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-8" aria-expanded="false" aria-controls="accordion-tab-1-content-8"> What is the most
                            What are possible complications of Covid19 if not diagnosed and treated timely ? </button>
                      </h5>
                  </div>
                  <div class="collapse" id="accordion-tab-1-content-8" aria-labelledby="accordion-tab-1-heading-8" data-parent="#accordion-tab-1">
                      <div class="card-body">
                      <p>Acute Respiratory Failure, Pneumonia,
                        Acute Respiratory Distress Syndrome
                        (ARDS), Acute Liver Injury, Acute Cardiac
                        Injury, Secondary Infections, Acute Kidney
                        Injury, Blood clotting, Septic Shock are the
                        possible complications.</p>
                      </div>
                  </div>
              </div>


              <div class="card">
                <div class="card-header" id="accordion-tab-1-heading-9">
                    <h5>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-9" aria-expanded="false" aria-controls="accordion-tab-1-content-9"> What is the most
                          Can exposing yourself to the sun or temperatures higher than 25°C protect me from COVID-19 ?</button>
                    </h5>
                </div>
                <div class="collapse" id="accordion-tab-1-content-9" aria-labelledby="accordion-tab-1-heading-9" data-parent="#accordion-tab-1">
                    <div class="card-body">
                    <p>You can catch COVID-19, no matter how
                      sunny or hot the weather is. Countries with
                      hot weather have reported cases of COVID19</p>
                    </div>
                </div>
            </div>











                  </div>
              </div>
              <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                  <div class="accordion" id="accordion-tab-2">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">1.	Where can I register for COVID-19 vaccination?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                <p>You can log into the <strong>Covid Care App</strong> using the link <a href="http://localhost:4200/register">http://localhost:4200/register</a> and click on the “Register/Sign In yourself” tab to register for COVID-19 vaccination</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">	Which age groups can register for vaccination on the Co-WIN portal?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                All citizens aged 18 years and above can register for vaccination.
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3"> Is there any registration charge to be paid? </button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                  NO
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-4" aria-expanded="false" aria-controls="accordion-tab-2-content-4">Can I register for vaccination without Aadhaar card?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-2-content-4" aria-labelledby="accordion-tab-2-heading-4" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                Yes,  you can register on <strong>Covide Care</strong> using any of the following ID proofs:
                               <ul> a.	Aadhaar card</ul>
                                <ul>b.	Driving License</ul>
                                <ul>c.	PAN card</ul>
                                <ul>d.  Voter ID Card</ul>
                                <ul>e.  Passport</ul>

                               </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                  <div class="accordion" id="accordion-tab-3">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">Are you already in ?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ul>1. Fever 99 degree F or above</ul>
                                    <ul>2. Cough</ul>
                                    <ul>3. Sore throat</ul>
                                    <ul>4. Loss of smell and/or taste</ul>
                                    <ul>5. Back pain 6-7 days prior to first day of fever</ul>
                                    <ul>6. Uneasy feeling in stomach and poor appetite</ul>
                                    <ul>7. Low BP, Mental Fog( confusion), dizziness, increased heart rate</ul>
                                    <ul>Bas ek do hi Kaafi hai, RT PCR test karwane ke liye !!!
                                      Please don’t go for any other test.<br>
                                      <strong>Corona is curable, if diagnosed early.
                                        DON’T DELAY...</strong></ul>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">Urgent and smart Moves</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                <ul>1. Get RT PCR test done on the very first day of the fever. First 3-4 days are very crucial.</ul>
                                    <ul>2. Don’t wait for test report. Get yourself locked and isolated in a room with attached bathroom. </ul>
                                    <ul>3. Arrange a Pulse Oximeter and digital thermometer.</ul>
                                    <ul>4. Arrange an electric kettle, a thermo flask and a Steam Inhaler.</ul>
                                    <ul>5. Get all family members, household maid and driver or any assistant in your contact tested,  if <strong>your report is positive</strong></ul>

                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3"> 3 Phase Recovery Plan</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                              <div class="card-body">
                              <strong > First 3-4 Days – Most crucial and important</strong>
                              <ul>Keep Calm but be alert !! Take some urgent steps. Eat light and less. Only breath meditation and deep breathing exercise.</ul>

                              <strong > Next 4 Days- Fever retreating phase</strong>
                              <ul>Monitor health parameters
                                closely. Do Pranayam and warm
                                up and back stretching
                                exercises to relieve back pain.
                                Start eating protein rich diet..</ul>

                                  <strong >  Next 7 DaysNutritional recovery phase</strong>
                                <ul>Keep parameters monitored.
                                  Eat calories and protein rich
                                  diet. Start physical exercise
                                  slowly and increase gradually.</ul>

                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-4" aria-expanded="false" aria-controls="accordion-tab-3-content-4">How to Demolish Virus Factories</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-4" aria-labelledby="accordion-tab-3-heading-4" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                <ul>1. Gargle with salty and warm water at least 3
                                  times a day, especially before going to sleep.</ul>
                                <ul>2.  Take steam with Ajwain seeds or lemongrass </ul>
                                <ul>3.  Drink 3-4 litres lukewarm water daily.</ul>
                                <ul>4. Keep your lungs, nasal passages, throat and
                                  mouth clear and clean of any mucus- Don’t use
                                  paper napkin, use wash basin.</ul>
                                <ul>5. Use tongue cleaner frequently.</ul>
                                <ul> Clean crevices between teeth using toothpick.</ul>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="accordion-tab-3-heading-5">
                            <h5>
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-5" aria-expanded="false" aria-controls="accordion-tab-3-content-5">Home Isolation Strategies</button>
                            </h5>
                        </div>
                        <div class="collapse" id="accordion-tab-3-content-5" aria-labelledby="accordion-tab-3-heading-5" data-parent="#accordion-tab-3">
                            <div class="card-body">
                              <ul>1. Isolation- Because you love your
                                family.</ul>
                              <ul> 2. Wash your utensils yourself.</ul>
                              <ul>3. Keep clothes in a bucket of hot
                                detergent water and then get them
                                washed in a Washing machine.</ul>
                              <ul>4. Communicate with family and friends
                                over mobile only.</ul>
                              <ul>5. Put a small table before your shut
                                door to put a jug and a plate.</ul>
                              <ul> 6. Keep mobile in the silent mode. </ul>
                              <ul>7. Maintain body temperature, oxygen
                                saturation, pulse and BP data for
                                every three hours.</ul>
                                <ul> 8. Keep your doctor updated on your
                                  health conditions.</ul>
                                  <ul>9. Don’t use air conditioner. Keep your
                                    room well ventilated with fresh air
                                    keeping windows wide open.</ul>

                            </div>
                        </div>
                    </div>
                  </div>
              </div>

              <!-- <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                  <div class="accordion" id="accordion-tab-5">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">Say what?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <p>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. I'm just glad my fat, ugly mama isn't alive to see this day. For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. But existing is basically all I do! I never loved you.</p>
                                  <p><strong>Example: </strong>A sexy mistake. And I'd do it again!</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">Who's brave enough to fly into something we all keep calling a death sphere?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <p>Maybe I love you so much I love you no matter who you are pretending to be. Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff! Now Fry, it's been a few years since medical school, so remind me.</p>
                                  <p><strong>Example: </strong>Disemboweling in your species: fatal or non-fatal?</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">You mean while I'm sleeping in it?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <p>We can't compete with Mom! Her company is big and evil! Ours is small and neutral! Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? I just told you! You've killed me!</p>
                                  <p><strong>Example: </strong>But, like most politicians, he promised more than he could deliver.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4">And until then, I can never die?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <p>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas. Well, let's just dump it in the sewer and say we delivered it.</p>
                                  <p><strong>Example: </strong>Have you ever tried just turning off the TV, sitting down with your children, and hitting them? Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry?</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
              <!-- <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                  <div class="accordion" id="accordion-tab-6">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1">Doomsday device?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>Ah, now the ball's in Farnsworth's court! We'll need to have a look inside you with this camera. Stop it, stop it. It's fine. I will 'destroy' you! Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
                                  <p><strong>Example: </strong>So I really am important? How I feel when I'm drunk is correct?</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2">And so we say goodbye to our beloved pet, Nibbler?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. But existing is basically all I do! I suppose I could part with 'one' and still be feared. I just told you! You've killed me!</p>
                                  <p><strong>Example: </strong>What's with you kids? Every other day it's food, food, food.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3">Tell her you just want to talk?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>It has nothing to do with mating. Soon enough. There, now he's trapped in a book I wrote: a crummy world of plot holes and spelling errors! Daylight and everything. Hey! I'm a porno-dealing monster, what do I care what you think?</p>
                                  <p><strong>Example: </strong>Is that a cooking show? It doesn't look so shiny to me. And why did 'I' have to take a cab?</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4">Good man. Nixon's pro-war and pro-family?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-4" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>I don't 'need' to drink. I can quit anytime I want! THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</p>
                                  <p><strong>Example: </strong>Guess again. Yeah, I do that with my stupidness. And when we woke up, we had these bodies.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</div>
